{% extends "base.html" %}

{% block main %}
<div style="padding: 80px;">
    <h1 class="display-5 fw-bold">Meet The Team</h1>
<div style="display: flex; border: 1px solid gray; border-radius: 25px; background-color: gray; color: whitesmoke; margin: 25px;">
    <img src="/static/images/raffique.jpeg" alt="" style="margin: 50px; width: 340px; height: 340px;">
    <div style="padding: 50px;">
        <h6>Name: Raffique Muir</h6>
        <h6>Occupation: </h6>
    </div>
</div>
<div style="display: flex; border: 1px solid gray; border-radius: 25px; background-color: gray; color: whitesmoke; margin: 25px;">
    <img src="/static/images/theodore.jpeg" alt="" style="margin: 50px; width: 340px; height: 340px;">
    <div style="padding: 50px;">
        <h6>Name: Theodore Bennett</h6>
        <h6>Occupation: </h6>
    </div>
</div>
<div style="display: flex; border: 1px solid gray; border-radius: 25px; background-color: gray; color: whitesmoke; margin: 25px;">
    <img src="/static/images/arnoldo.jpeg" alt="" style="margin: 50px; width: 340px; height: 340px;">
    <div style="padding: 50px;">
        <h6>Name: Arnoldo Daley</h6>
        <h6>Occupation: </h6>
    </div>
</div>
<div style="display: flex; border: 1px solid gray; border-radius: 25px; background-color: gray; color: whitesmoke; margin: 25px;">
    <img src="/static/images/romario.jpeg" alt="" style="margin: 50px; width: 340px; height: 340px;">
    <div style="padding: 50px;">
        <h6>Name: Romario Cohen</h6>
        <h6>Occupation: </h6>
    </div>
</div>
</div>

{% endblock %}
