{% extends "base.html" %}

{% block main %}
<div class=''>
    <div class="container-fuild">
        {% set amount = files|length%}
        {% set count = 0 %}
        {% for file in files %}
            <div style="display: inline-block; margin: 10px;" >
                <div class="card" style="width:300px">
                    <img class="card-img-top" style="width: 300px; height: 200px;" src="{{ url_for('get_image', filename=file.img) }}" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">{{ file.title }}</h5>
                        <span class="card-text addresstag"> <i class="fa fa-map-marker" style="font-size:24px"></i> {{ file.location }}</span>
                        <br>
                        <div class="pricetag">${{ file.price }}</div>
                    </div>
                    <a href="{{ url_for('specific_property', propertyid=file.id)}}" style="text-decoration-line: none;">
                        <div class="card-footer footertag">
                            View Property
                        </div>
                    </a>
                    
               </div>
            </div>
            
            <!--
                <img style="width: 300px; height: 300px; margin: 10px;" alt="image" src="{{ url_for('get_image', filename=file.img) }}" /></li>
            -->
            {% endfor %}
    </div>
</div>
{% endblock %}